.view-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group {
  margin-top: 20px;

  .image {
    float: left;
    width: 150px;
    height: 150px;
  }

  .title {
    float: left;
  }

  .sitebit {
    float: left;
    font-style: italic;
  }

  .subtext {
    float: left;
    margin-top: 20px;
  }

  @media screen and (max-width: 350px) {
    .image {
      left: 20%;
    }
  }

  @media screen and (min-width: 351px) and (max-width: 450px) {
    .image {
      left: 25%;
    }
  }

  @media screen and (min-width: 451px) and (max-width: 767px) {
    .image {
      left: 35%;
    }
  }
}

.next-prev {
  text-align: center;
  margin: 5px 0px;

  a {
    color: white;
    margin: 5px;
  }
}

#article-page {
  .card {
    .card-img {
      text-align: center;

      img {
        max-height: 400px;
      }
    }
  }
}
